<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sesco.mapper.DiaryMapper">


	
	<!--전체 일기 리스트 조회-->
	<select id="diaryList" parameterType="com.smhrd.sesco.domain.Diary" resultType="com.smhrd.sesco.domain.Diary">
		select * from t_diary where note_seq=#{note_seq}
	</select>
	
	<!-- 누른 날짜의 일기 리스트 조회 -->
	<select id="DiaryListOne" resultType="com.smhrd.sesco.domain.Diary">
		select d_title, d_date from t_diary where d_date=#{d_date}
	</select>
	
	<!--일기 작성-->
	<insert id="DiaryRegister" parameterType="com.smhrd.sesco.domain.Diary">
		insert into t_diary (d_title,d_date,d_content, note_seq, d_tags, img_do, img_si, img_real_name,d_img_yn)
		values(#{d_title},#{d_date},#{d_content},#{note_seq}, #{d_tags},#{img_do},#{img_si},#{img_real_name},#{d_img_yn})
	</insert>
	
	<!--일기 수정 -->
	 <update id="DiaryUpdate" parameterType="com.smhrd.sesco.domain.Diary">
	 	update t_diary set d_title=#{d_title}, d_date=#{d_date}, d_content=#{d_content}, img_do=#{img_do}, img_si=#{img_si}, img_real_name=#{img_real_name}, d_img_yn=#{d_img_yn}, note_seq=#{note_seq}, d_tags=#{d_tags} where d_seq=#{d_seq}
	 </update>

	<!--일기 삭제 -->
	<delete id="DiaryDelete" parameterType="com.smhrd.sesco.domain.Diary">
		delete from t_diary where d_seq=#{d_seq}
	</delete>


<select id="getDiaryListWithImg" resultType="com.smhrd.sesco.domain.Diary">
	SELECT *
	FROM t_diary A
	INNER JOIN t_note B 
	ON A.note_seq = B.note_seq
	AND B.kid_seq IN (
						SELECT kid_seq
						FROM t_kid C
						WHERE C.user_id = #{user_id}
					 )
	WHERE A.d_img_yn='Y'
</select>

</mapper>

