<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.sesco.mapper.MemberMapper">

   <!-- 회원가입 -->
   <insert id="MemberJoin" parameterType="com.smhrd.sesco.domain.Member">
      insert into t_member(user_id, user_pw, user_nick, user_name, user_email)
      values(#{user_id},#{user_pw},#{user_nick},#{user_name},#{user_email})
   </insert>


   <!-- 회원정보수정 -->
	<update id="MemberUpdate" parameterType="com.smhrd.sesco.domain.Member">
		update t_member set
		user_pw=#{user_pw},user_nick=#{user_nick} where
		user_id=#{user_id} and user_d_yn='n'
	</update>
	
	 <!-- 구글회원가입 -->
   <insert id="GoogleJoin" parameterType="com.smhrd.sesco.domain.Member">
      insert into t_member(user_id, user_nick, user_name, login_type)
      values(#{user_id},#{user_nick},#{user_name},"G")
   </insert>

</mapper>